
#user-img{
	margin: auto;
	display: block;
	position: relative;
	top: -2.5em;
	max-width: 140px;
	max-height: 140px;
}


.card-panel{
	margin-top: 2em;

}
#submitBtn{
	background: #13d4b6;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	height: 55px;
}
